<ion-view view-title="Forgot Password">
  <ion-content class="stable-bg" scroll="false">

    <div class="login-content">

      <div class="welcome-content calm-bg">
        <div class="padding text-center light">
          Enter your email to receive
          <br/>
          instructions for resetting your password
        </div>
      </div>

      <div class="padding-top">
        <!-- Login form -->
        <div class="padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-calm button-round" ui-sref="app.home">Send</button>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
