<!--
  This template loads for the 'item' state (app.js)
  Show list of items
-->
<ion-view view-title="Items">
  <ion-content class="">

    <ion-list>
      <ion-item class="item-icon-right no-border" ui-sref="app.item_all">
        <div>
          All items
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item-icon-right no-border" ui-sref="app.item_category">
        <div>
          Categories
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>


      <ion-item class="item-icon-right no-border" ui-sref="app.item_discount">
        <div>
          Discounts
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
