<ion-view view-title="Create a free account">
  <ion-content class="stable-bg" scroll="false">

    <div class="login-content">

      <div class="welcome-content calm-bg">
        <!-- Logo -->
        <div class="text-center">
          <div class="logo light">
            <i class="ion-card"></i>
          </div>
          <h2 class="light">
            ion POS
          </h2>
        </div>
      </div>

      <div class="padding-top">
        <!-- Login form -->
        <div class="padding">
          <label class="item item-input">
            <i class="ion-ios-person-outline light icon-label"></i>
            <input type="text" placeholder="Your name">
          </label>
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="password" placeholder="Password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-calm button-round" ui-sref="app.home">Sign up</button>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
