<ion-view view-title="Discounts" ng-controller="DiscountController as vm">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="vm.action = 'add';discountModal.show()">
      <i class="icon ion-plus"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding">
      <ion-list>
        <ion-item ng-if="vm.discounts.length == 0">Nothing yet!</ion-item>
        <ion-item ng-repeat="discount in vm.discounts">
          <div ng-click="vm.action = 'edit';vm.discount = discount; discountModal.show()">
            <span>{{discount.title}}</span>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!--<button class="button button-block" ng-click="testSync()">Test Sync</button>-->
  </ion-content>
</ion-view>