<ion-view view-title="Items" ng-controller="ItemsController as vm">

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="deleteItems()">delete</button>
    <button class="button" ng-click="newItemModal.show()">
      <i class="icon ion-plus"></i>
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <!--search form-->
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>

    <div class="padding">
      <span ng-show="vm.items.length == 0">Nothing yet!</span>
      <ion-list>
        <ion-item ng-repeat="item in vm.items | filter : search" ng-click="itemDetails(item)">
          <div>
            <span>{{item.description}}</span>
          </div>

        </ion-item>
      </ion-list>
    </div>

<!--ITEM-DETAILS.HTML-->
<script id="item-details.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="itemDetailsModal.hide()">Close</button>
      </div>
      <h1 class="title">Item Details</h1>
      <div class="buttons">
        <button class="button">Edit</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="padding">
        <h3 class="gray">Description</h3>
        <span>{{item.description}}</span>
        <h3 class="gray">Category</h3>
        <span>{{item.category_id.slice(11)}}</span>
        <h3 class="gray">Price</h3>
        <span>{{item.sale_price}}</span>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<!--SELECT-CATEGORY.HTML-->
<script id="select-category.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="selectCategoryModal.hide()">Close</button>
      </div>
      <h1 class="title">Select Category</h1>
      <div class="buttons">
        <button class="button">Save</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="padding">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
        </div>
        <div class="padding">
          <ion-list>
            <ion-item ng-repeat="category in vm.categories" ng-click="item.category = category;selectCategoryModal.hide()">
              <span>{{category.title}}</span>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

  </ion-content>
</ion-view>

