<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button" ng-click="newDiscountModal.hide()">Close</button>
    </div>
    <h1 class="title">New Discount</h1>
    <div class="buttons">
      <button class="button" ng-click="save()">Save</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding-list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="vm.discount.title">
      </label>
      <label class="item item-input">
        <span class="input-label">Percent</span>
        <input type="text" ng-model="vm.discount.percent">
      </label>
    </div>
  </ion-content>
</ion-modal-view>