<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button" ng-click="taxModal.hide()">Close</button>
    </div>
    <h1 class="title">New Item</h1>
    <div class="buttons">
      <button class="button" ng-if="vm.action=='new'" ng-click="saveTax(vm.tax)">Save</button>
      <button class="button" ng-if="vm.action=='edit'" ng-click="updateTax(vm.tax)">Update</button>
      <!--<button class="button" ng-if="vm.action=='view'" ng-click="">Delete</button>-->
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="vm.tax.title">
      </label>
      <label class="item item-input">
        <span class="input-label">Percent</span>
        <input type="text" ng-model="vm.tax.percent">
      </label>
      <!--<ion-checkbox>Set Default</ion-checkbox>-->
      <ion-toggle class="toggle-small">Set Default</ion-toggle>

      <button class="button button-block button-assertive" ng-show="vm.action == 'edit'" ng-click="deleteTax(vm.tax)">Delete</button>
    </div>
  </ion-content>
</ion-modal-view>