<ion-modal-view>
  <ion-header-bar>
    <div class="button" ng-click="topCategoryModal.hide()">
      <button class="button">Close</button>
    </div>
    <h1 class="title">New Category</h1>
    <div class="buttons">
      <button class="button" ng-click="save()">Save</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="category in vm.categories">
        <div ng-click="vm.category.pcategory = category.category;topCategoryModal.hide()">
          <span>{{category.category}}</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>