<ion-view view-title="In-app Products" ng-controller="InappController">
    <ion-nav-bar class="bar-stable bar-no-border" align-title="center">
        <!-- Burger button -->
        <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="padding">
            <div class="list card">
                <div class="item">
                    <h1>
                        Premium Features
                    </h1>
                    <!--<button class="button button-assertive">Buy Now</button>-->
                    <h2 class="gray">P 2,000.00</h2>
                </div>

                <div class="item item-body">
                    <img src="img/delorean.jpg" alt="" class="full-image">
                    <p>
                        Buy premium features. One time payment only.<br>
                        1. Import product items from CSV file.<br>
                        2. Create advance reports.<br>
                        3. Export your data to Excel file.<br>
                        4. Activate barcode scanner.
                    </p>
                    <br>
                    <button class="button icon-left ion-android-cart button-assertive pull-right">Buy Now</button>
                </div>
            </div>

            <div class="list card">
                <div class="item">
                    <h1>Monthly Subscription</h1>
                    <!--<button class="button button-assertive">Buy Now</button>-->
                    <h2 class="gray">P 500.00 per Month</h2>
                </div>

                <div class="item item-body">
                    <p>
                        Use our cloud services and pay monthly. <br>
                        The Benefits:<br>
                        1. Automatic or manual sync of your data to cloud.<br>
                        2. Backup your data to our cloud server.<br>
                        3. Create over-all reports and performance of all your connected devices.<br>
                        4. Premium features included
                    </p>

                    <br>
                    <button class="button icon-left ion-android-cart button-assertive pull-right">Buy Now</button>
                </div>
            </div>

            <div class="list card">
                <div class="item">
                    <h1>Yearly Subscription</h1>
                    <!--<button class="button button-assertive">Buy Now</button>-->
                    <h2 class="gray">P 5,500.00 per Year</h2>
                </div>

                <div class="item item-body">
                    <p>
                        Use our cloud services and pay annually. <br>
                        The Benefits:<br>
                        1. Automatic or manual sync of your data to cloud.<br>
                        2. Backup your data to our cloud server.<br>
                        3. Create over-all reports and performance of all your connected devices.<br>
                        4. Premium features included
                    </p>

                    <br>
                    <button class="button icon-left ion-android-cart button-assertive pull-right">Buy Now</button>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>