<ion-modal-view>
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button button-icon ion-close" ng-click="itemModal.hide()"></button>
		</div>
		<h1 class="title">Item</h1>
		<div class="buttons">
			<button class="button button-icon ion-trash-a" ng-show="vm.item._id" ng-click="Items.removeItem(vm.item)"></button>
			<button class="button button-icon ion-checkmark" ng-click="Items.addItem()"></button>
		</div>
	</ion-header-bar>
	<ion-content has-subheader="false">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Description</span>
				<input type="text" ng-model="vm.item.description">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Print Description</span>
				<input type="text" ng-model="vm.item.print_description">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Price</span>
				<input type="number" ng-model="vm.item.price">
			</label>
		</div>
	</ion-content>
</ion-modal-view>