<ion-modal-view>
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button button-icon ion-close" ng-click="itemModal.hide()"></button>
			<h1 class="title">Item</h1>
			<button class="button button-icon ion-checkmark" ng-click="Items.addItem()"></button>
		</div>
	</ion-header-bar>
	<ion-content has-subheader="false">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Description</span>
				<input type="text" ng-model="vm.item.description">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Print Description</span>
				<input type="text" ng-model="vm.item.print_description">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Price</span>
				<input type="text" ng-model="vm.item.price">
			</label>
		</div>
		
		<!-- <button class="button button-block" ng-click="unitsModal.show()">Manage UoM's</button> -->
		<button class="button button-block button-assertive" ng-show="vm.item._id" ng-click="Items.removeItem(vm.item)">Delete Item</button>
	</ion-content>
</ion-modal-view>