<ion-view view-title="Printer" ng-controller="SettingsController as vm">
  <ion-nav-bar class="bar-stable bar-no-border">
    <ion-nav-back-button>
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="padding">
      <ion-list>
        <ion-item class="item-icon-right no-border" ng-click="Printer.scan()">
          <div ng-click="scanPrinter()">
            <span class="bold">Printer</span>
            <span class="pull-right">{{Printer.device}}</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
      <button class="button button-block button-dark" ng-click="Printer.check()">Check Connection</button>
      <button class="button button-block button-dark" ng-click="Printer.test()">Test Print</button>
      <!-- <button class="button button-block" ng-click="posCommand()">Test Command</button> -->
    </div>
  </ion-content>
</ion-view>