<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button" ng-click="viewCustomerModal.hide()">Close</button>
    </div>
    <h1 class="title">Customer Details</h1>
    <div class="buttons">
      <button class="button" ng-click="">Edit</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <div class="border-bottom">
        <h4 class="gray">Company</h4>
        <span class="">{{vm.customerDetails.company}}</span>
      </div>
      <div class="border-bottom">
        <h4 class="gray">Name</h4>
        <span>{{vm.customerDetails.contact_name}}</span>
      </div>
      <div class="border-bottom">
        <h4 class="gray">Telephone No.</h4>
        <span>{{vm.customerDetails.contact_number}}</span>
      </div>
      <div class="border-bottom">
        <h4 class="gray">E-mail Address</h4>
        <span>{{vm.customerDetails.email_address}}</span>
      </div>
      <div class="border-bottom">
        <h4 class="gray">Address</h4>
        <span>{{vm.customerDetails.address}}</span>
      </div>

      <button class="button button-block button-assertive">Delete</button>
    </div>
  </ion-content>
</ion-modal-view>