<ion-view view-title="Item Options">
	<ion-content has-subheader="false">
		<div class="padding">
			<ion-list>
				<ion-item class="item-icon-right no-border" ui-sref="app.category">
          <div>
            <span class="bold">Categories</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
				<ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Items</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Discounts</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Tax</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>