<ion-view>
  <ion-content>
    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>
      <div class="padding">
        <div class="padding">
          Choose Parent Category
          <span class="pull-right ion-chevron-down"></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>