<ion-view>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
      <!--<h2 class="title">Sub Header</h2>-->
    </div>
  <ion-content class="has-subheader">
    
    <div class="padding">
      <!-- Search form -->
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="padding">
      <ion-list>
        <ion-item class="item-icon-right">
          <div>
            <span>Category one</span>
            <span class="pull-right">2 Items</span>
          </div>
          <i class="icon ion-chevron-right"></i>        
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>