<ion-view>
  <div class="bar bar-subheader item-input-inset">
    <div class="buttons">
      <h2 class="title">Sub Header</h2>
      <button class="button">Save</button>      
    </div>
    <!--<button class="button">
      <i class="icon ion-plus"></i>
    </button>-->
  </div>
  <ion-content class="has-subheader">
    <div class="padding">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    
    <div class="padding">
      <ion-list>
        <ion-item class="item-icon-right">
          <div>
            <span>Category one</span>
            <!--<span class="pull-right">2 Items</span>-->
          </div>
          <span class="badge badge-assertive">2</span>      
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>