<ion-view view-title="Items" ng-controller="ItemsController as vm">

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="newItemModal.show()">
      <i class="icon ion-plus"></i>
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <!--search form-->
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>

    <div class="padding">
      <span ng-show="vm.items.length == 0">Nothing yet!</span>
      <ion-list>
        <ion-item ng-repeat="item in vm.items">
          <div>
            <span>{{item.description}}</span>
          </div>

        </ion-item>
      </ion-list>
    </div>


<script id="select-category.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="selectCategoryModal.hide()">Close</button>
      </div>
      <h1 class="title">Select Category</h1>
      <div class="buttons">
        <button class="button">Save</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
    </ion-content>

    <ion-list>
      <ion-item ng-repeat="category in vm.categories">
        <span>{{category.title}}</span>
      </ion-item>
    </ion-list>
  </ion-modal-view>
</script>

  </ion-content>
</ion-view>

