<ion-modal-view>  
  <ion-header-bar>
    <h1 class="title" align-title="center">New Item</h1>
    <div class="buttons">
      <button class="button">Save</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding list">
      <label for="" class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description" ng-model="item.description"> 
      </label>
      <label for="" class="item item-input item-floating-label">
        <span class="input-label">Category</span>
        <input type="text" placeholder="Category" ng-model="item.category"> 
      </label>
      <label for="" class="item item-input item-floating-label">
        <span class="input-label">Price</span>
        <input type="text" placeholder="Price" ng-model="item.price"> 
      </label>
    </div>
  </ion-content>
</ion-modal-view>