<ion-modal-view>
  <ion-header-bar>
    <div class="button" ng-click="newCategoryModal.hide()">
      <button class="button">Close</button>
    </div>
    <h1 class="title">New Category</h1>
    <div class="buttons">
      <button class="button">Save</button>
    </div>
  </ion-header-bar>
  
  <ion-content>
    <div class="list padding">
      <label for="" class="item item-input">
        <input type="text" placeholder="Category Name">
      </label>
    </div>
  </ion-content>
</ion-modal-view>