<!--
  This template loads for the 'settings' state (app.js)
  Show app settings
-->
<ion-view view-title="Settings" ng-controller="SettingsController as vm">
  <ion-content class="">
    <div class="padding">
      <h4 class="gray padding-left">
        GENERAL OPTIONS
        <i class="icon ion-locked pull-right" ng-click="goLock()"></i>
      </h4>
      <ion-list>
        <ion-item class="item-icon-right no-border">
          <div ng-click="setUserID()">
            <span class="bold">User ID</span>
            <span class="pull-right">{{vm.USER_ID.userId}}</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ng-click="setDailyQuota()">
            <span class="bold">Daily Quota</span>
            <span class="pull-right">{{vm.DAILY_QUOTA.quota}} calls</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ng-click="serverListModal.show()">
            <span class="bold">Servers List</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ui-sref="app.database">
            <span class="bold">Database</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
      <h4 class="gray padding-left">
        Sync Data
      </h4>
      <ion-list>
        <ion-item class="item-icon-right no-border">
          <div ui-sref="app.inventory">
            <span class="bold">Inventory</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ng-click="uploadSales()">
            <span class="bold">Upload Sales</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ng-click="updateItems()">
            <span class="bold">Update Items</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div ng-click="updateCustomers()">
            <span class="bold">Update Customers</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Update All</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
      <!--<button class="button button-block button-positive">Sync Now</button>-->

      <!--<h4 class="gray padding-left">PRODUCTS OPTIONS</h4>
      <ion-list>
        <ion-item class="item-icon-right no-border">
          <div ui-sref="app.categories">
            <span class="bold">Categories</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>  
        <ion-item class="item-icon-right no-border">
          <div ui-sref="app.items">
            <span class="bold">Items</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>-->

      <!--<h4 class="gray padding-left">PEOPLE OPTIONS</h4>
      <ion-list>
        <ion-item class="item-icon-right no-border">
          <div ui-sref="app.customers">
            <span class="bold">Customers</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Contacts</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>-->
      
      <h4 class="gray padding-left">CHECKOUT OPTIONS</h4>
      <ion-list>
        <!--<ion-item class="item-icon-right no-border">
          <div ui-sref="app.discount">
            <span class="bold">Taxes</span>
            <span class="pull-right">1 Active</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>-->
        <!--<ion-item class="item-icon-right no-border">
          <div ui-sref="app.discounts">
            <span class="bold">Discounts</span>
            <span class="pull-right">3 Active</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>-->
        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Open ticket</span>
            <span class="pull-right">Off</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>

      <h4 class="gray padding-left">HARDWARE</h4>

      <ion-list>

        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Printers</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Cash Drawer</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Barcode Scanners</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item class="item-icon-right no-border">
          <div>
            <span class="bold">Device Name</span>
            <span class="pull-right">No name</span>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>

      <div class="padding margin-top-30">
        <!--<h4 class="gray text-center">SUCCESSDT@HOTMAIL.COM</h4>-->
        <button class="button button-block button-round calm" ui-sref="auth.welcome">Logout</button>
      </div>
    </div>
  </ion-content>
</ion-view>
