<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="customerModal.hide()">
      </button>
    </div>
    <h1 class="title">Customers</h1>
    <div class="buttons">
      <!--<button class="button button-icon button-clear" ng-click="openDatePicker()">
        <i class="icon ion-ios-calendar"></i>
      </button>
      <button class="button button-icon button-clear" ng-click="newInventory();customerModal.hide()">
        <i class="icon ion-ios-download"></i>
      </button>-->
    </div>
  </ion-header-bar>
  <ion-content>
    <!--search form-->
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>

    <div class="padding">
      <ion-list>
        <ion-item ng-repeat="customer in Customer.list | filter : search" ng-click="Customer.select(customer)">
          {{customer.company}}
          <p>{{customer.name}}</p>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-modal-view>