<ion-view ng-controller="SalesController as vm" view-title="Sales">
  <ion-nav-bar class="bar-stable bar-no-border" align-title="center">
    <!-- Back button -->
    <ion-nav-back-button>
      Back
    </ion-nav-back-button>

    <!-- Burger button -->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <!-- View order button-->
    <ion-nav-buttons side="right">
      <!-- <button class="button button-icon ion-ios-personadd" ng-click="customerModal.show();getCustomerList('zip');vm.areaFlag='zip'"></button> -->
      <button class="button button-icon ion-android-done-all" ng-click="checkoutModal.show()" ng-disabled="vm.order.items.length == 0"></button>
      <!-- <button class="button button-icon ion-ios-download" ng-if="vm.isInventory == true" ng-click="saveInventory()"></button> -->
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="home-content" scroll="true" has-subheader="false">

    <!--balance info-->
    <div class="padding stable-bg">
      <div class="calm-bg padding text-center light text-2x">
        <span ng-show="vm.order.subtotal == 0 || vm.order.subtotal == undefined">Charge</span>
        {{ vm.order.subtotal | currency : "Php " }}
      </div>
    </div>

    <!--tabs-->
    <div class="inside-tabs tabs stable-bg">
      <a class="tab-item" ng-click="vm.tab.active = 'keypad'" ng-class="{active: tab.active == 'keypad'}">
        KEYPAD
      </a>
      <a class="tab-item" ng-click="vm.tab.active = 'library'" ng-class="{active: tab.active == 'library'}">
        LIBRARY
      </a>
      <a class="tab-item" ng-click="vm.tab.active= 'order'" ng-class="{active: tab.active == 'order'}">
        ORDER
      </a>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'keypad'">
      <!--input-->
      <div class="numpad-result padding">
        <span class="pull-left text-1x5">Add note</span>
        <span class="pull-right text-1x5">
          <span class="gray">{{ vm.amount | currency:"Php " }}</span>
        </span>
      </div>

      <!--onscreen numpad-->
      <div class="onscreen-numpad has-border">

        <div class="button-bar">
          <a ng-click="keyPressed(1)" class="button button-block">1</a>
          <a ng-click="keyPressed(2)" class="button button-block">2</a>
          <a ng-click="keyPressed(3)" class="button button-block">3</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(4)" class="button button-block">4</a>
          <a ng-click="keyPressed(5)" class="button button-block">5</a>
          <a ng-click="keyPressed(6)" class="button button-block">6</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(7)" class="button button-block">7</a>
          <a ng-click="keyPressed(8)" class="button button-block">8</a>
          <a ng-click="keyPressed(9)" class="button button-block">9</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(-1)" class="button button-block">C</a>
          <a ng-click="keyPressed(0)" class="button button-block">0</a>
          <!--<a ng-click="keyPressed(-2)" class="button button-block calm">+</a>-->
          <a ng-click="addPayment()" class="button button-block calm" ng-disabled="vm.order.items.length == 0">+</a>
        </div>
      </div>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'library'">
      <div class="border-bottom padding" ng-click="chooseFilter()">
        <div class="padding text-1x5">
          {{ vm.filterText }}
          <span class="pull-right ion-chevron-down"></span>
        </div>
      </div>

      <ion-list>
        <ion-item class="item-icon-left item-icon-right pos-item" ng-repeat="category in vm.categories" ng-show="vm.filterText == 'Items'" ng-click="openCategory(category.id)">
          <div class="icon">
            <img src="{{ item.image }}" alt="{{ item.name }}" ng-if="item.image"/>
            <div class="no-image center-align" ng-if="!item.image">
              {{ category.value.substring(0, 2).toUpperCase() }}
            </div>
          </div>
          <div class="padding-left">
            {{ category.value }}
          </div>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item class="item-icon-left pos-item" ng-repeat="item in vm.items" ng-show="vm.filterText == 'Items'" ng-click="selectItem(item)">
          {{ item.description }}
          <p>{{ item.price | currency:'Php ' }}</p>
        </ion-item>

        <ion-item ng-show="vm.categories.length == 0 && vm.items.length == 0">
          <span class="assertive">EMPTY</span>
        </ion-item> 

        <div ng-show="vm.showBack">
          <button class="button button-block button-balanced" ng-click="prevCategory()">Back</button>
        </div>

        <!--search form-->
        <!-- <div class="item-input-inset" ng-show="vm.filterText == 'All Items'">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
            <button class="button">Search</button>
          </label>
        </div> -->
  
        <ion-item class="item-icon-left item-icon-right" ng-show="vm.filterText == 'Discounts'" ng-click="removeDiscount()">
          <!-- <i class="icon ion-pricetag"></i> -->
          <i class="icon ion-alert-circled"></i>
          <div class="padding-left">
            None
            <span class="pull-right" ng-show="vm.order.discount== null"><i class="icon ion-checkmark-circled"></i></span>
          </div>
        </ion-item>

        <ion-item class="item-icon-left item-icon-right" ng-repeat="discount in vm.discounts" ng-click="addDiscount(discount)" ng-show="vm.filterText == 'Discounts'">
          <i class="icon ion-pricetag"></i>
          <div class="padding-left">
            {{ discount.description }}
            <!-- <span class="pull-right" ng-show="vm.order.discount._id == discount.doc._id"><i class="icon ion-checkmark-circled"></i></span> -->
          </div>
        </ion-item>

      </ion-list>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'order'">
      <div class="">
        <ion-list>
          <ion-item ng-if="vm.order.items.length == 0">
            <div class="assertive">No item selected yet</div>
          </ion-item>
          <ion-item ng-repeat="item in vm.order.items" ng-click="removeToOrder(item)">
            <div>
              {{item.description}}
              <span class="pull-right">{{item.quantity}}@{{item.price | currency : "Php "}}</span>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>
</ion-view>
