
<ion-view ng-controller="SalesCtrl as vm" view-title="{{vm.order.items.length == 0 && vm.customer.name == 'Walk-In' ? 'No Sale' : vm.customer.name + ' ( ' + vm.order.total_items + ' )'}}">
  <ion-nav-bar class="bar-stable bar-no-border" align-title="center">
    <!-- Back button -->
    <ion-nav-back-button>
      Back
    </ion-nav-back-button>

    <!-- Burger button -->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <!-- View order button-->
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-person-add" ng-click="customerModal.show()"></button>
      <button class="button button-icon button-clear ion-android-done-all ng-hide" ng-hide="vm.isInventory" ng-click="checkOut()" ng-disabled="vm.order.items.length == 0"></button>
      <button class="button button-icon button-clear ion-android-archive" ng-if="vm.isInventory == true" ng-click="saveInventory()"></button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="home-content" scroll="true">

    <!--balance info-->
    <div class="padding stable-bg" ng-click="paymentDetailsModal.show()">
      <div class="calm-bg padding text-center light text-2x">
        <span ng-show="vm.order.total == 0">Charge</span>
        {{ vm.order.total | currency : "Php " }}
      </div>
    </div>

    <!--tabs-->
    <div class="inside-tabs tabs stable-bg">
      <a class="tab-item" ng-click="vm.tab.active = 'keypad'" ng-class="{active: tab.active == 'keypad'}">
        KEYPAD
      </a>
      <a class="tab-item" ng-click="vm.tab.active = 'library'" ng-class="{active: tab.active == 'library'}">
        LIBRARY
      </a>
      <a class="tab-item" ng-click="vm.tab.active= 'order'" ng-class="{active: tab.active == 'order'}">
        ORDER
      </a>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'keypad'">
      <!--input-->
      <div class="numpad-result padding">
        <span class="pull-left text-1x5">Add note</span>
        <span class="pull-right text-1x5">
          <span class="gray">{{ vm.amount | currency:"Php " }}</span>
        </span>
      </div>

      <!--onscreen numpad-->
      <div class="onscreen-numpad has-border">

        <div class="button-bar">
          <a ng-click="keyPressed(1)" class="button button-block">1</a>
          <a ng-click="keyPressed(2)" class="button button-block">2</a>
          <a ng-click="keyPressed(3)" class="button button-block">3</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(4)" class="button button-block">4</a>
          <a ng-click="keyPressed(5)" class="button button-block">5</a>
          <a ng-click="keyPressed(6)" class="button button-block">6</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(7)" class="button button-block">7</a>
          <a ng-click="keyPressed(8)" class="button button-block">8</a>
          <a ng-click="keyPressed(9)" class="button button-block">9</a>
        </div>
        <div class="button-bar">
          <a ng-click="keyPressed(-1)" class="button button-block">C</a>
          <a ng-click="keyPressed(0)" class="button button-block">0</a>
          <!--<a ng-click="keyPressed(-2)" class="button button-block calm">+</a>-->
          <a ng-click="addPayment()" class="button button-block calm" ng-disabled="vm.order.items.length == 0">+</a>
        </div>
      </div>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'library'">
      <div class="border-bottom padding" ng-click="chooseFilter()">
        <div class="padding text-1x5">
          {{ vm.filterText }}
          <span class="pull-right ion-chevron-down"></span>
        </div>
      </div>

      <ion-list>
        <ion-item class="item-icon-left pos-item" ng-repeat="category in vm.CATEGORIES" ng-show="vm.filterText == 'Categories'" ng-click="getCategories(category)">
          <div class="icon">
            <img src="{{ item.image }}" alt="{{ item.name }}" ng-if="item.image"/>
            <div class="no-image center-align" ng-if="!item.image">
              {{ category.substring(0, 2).toUpperCase() }}
              <!--{{category.title}}-->
            </div>
          </div>
          <div class="padding-left">
            {{ category}}

            <!--<span class="pull-right badge badge-positive">{{ category.items }}</span>-->
          </div>
          <!--<div ng-if="category.pcategory !== 'TOPLEVEL'" ng-click="getSubCategories(category.pcategory)">
            <button class="button button-block">Back</button>
          </div>-->
        </ion-item>
          <div class="padding" ng-show="vm.onCategory == true">
            <button class="button button-block" ng-click="getPCategories();">Back</button>
          </div>  
        <!--search form-->
        <div class="item-input-inset" ng-show="vm.filterText == 'All Items'">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
            <button class="button">Search</button>
          </label>
        </div>
  
        <ion-item class="item-icon-left pos-item" ng-repeat="item in vm.items|filter:search" ng-show="vm.filterText == 'All Items'" ng-click="addItem(item)">
          <div class="icon">
            <img src="{{ item.image }}" alt="{{ item.name }}" ng-if="item.image"/>
            <div class="no-image center-align" ng-if="!item.image">
              {{ item.DESCRIPTION.substring(0, 2).toUpperCase() }}
              <!--{{ item.description.substring(0, 2).toUpperCase() }}-->
              <!--{{category.title}}-->
            </div>
          </div>
          <div class="padding-left">
            {{ item.DESCRIPTION }}
            <!--{{ item.description }}-->

            <span class="pull-right" ng-if="item.total_options == 0">{{ item.price | currency : "Php " }}</span>
            <span class="pull-right" ng-if="item.total_options > 0">{{ item.total_options }} Prices</span>
          </div>
        </ion-item>

        <ion-item class="item-icon-left" ng-repeat="discount in vm.discounts" ng-click="addDiscount(discount)" ng-show="vm.filterText == 'Discounts'">
          <i class="icon ion-pricetag"></i>
          <div class="padding-left">
            {{ discount.title }}

            <!--<span class="pull-right" ng-if="discount.rate === null">-{{ discount.amount }}</span>
            <span class="pull-right" ng-if="discount.amount === null">{{ discount.rate }}%</span>-->
          </div>
        </ion-item>

      </ion-list>
    </div>

    <div class="tab-view" ng-show="vm.tab.active == 'order'">
      <div class="">
        <ion-list>
          <ion-item ng-if="vm.order.items.length == 0">
            <div>No item selected yet</div>
          </ion-item>
          <ion-item ng-repeat="item in vm.order.items" ng-click="removeItemOrder(item)">
            <div>
              {{item.DESCRIPTION}}
              <span class="pull-right">{{item.quantity}}@{{item.sale_price | currency : "Php "}}</span>
            </div>
          </ion-item>
        </ion-list>
        <!--<div class="padding" ng-if="vm.order.items.length == 0">
          <h2>
            Nothing yet!
          </h2>
        </div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
