<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon" ng-click="itemsModal.hide()">
        <i class="icon ion-close"></i>
      </button>
    </div>
    <h1 class="title">{{vm._items[0].PCATEGORY }} > {{ vm._items[0].CATEGORY}}</h1>
    <!--<div class="buttons">
      <button class="button" ng-click="saveItem()">Save</button>
    </div>-->
  </ion-header-bar>
  <ion-content>
    <div class="">
      <!--<h5 class="margin-top-30">NOTE AND QUANTITY</h5>-->
      <!--<input class="border-bottom-only" type="text" placeholder="Add a note"/>-->
      <!--<div class="row item-qty">
        <div class="col-20">
          <button class="button button-light" ng-click="vm.quantity = vm.quantity - 1">
            <i class="ion-minus"></i>
          </button>
        </div>
        <div class="col-60 text-center text-2x padding" ng-click="moreQuantity.show()">
          {{vm.quantity}}
        </div>
        <div class="col-20">
          <button class="button button-light" ng-click="vm.quantity = vm.quantity + 1">
            <i class="ion-plus"></i>
          </button>
        </div>
      </div>-->
      <ion-list>
        <!--<ion-item ng-repeat="item in vm._items" ng-click="addItemOrder(item)">-->
        <ion-item ng-repeat="item in vm._items" ng-click="setQty(item)">
          <div>
            {{item.DESCRIPTION}}
            <span class="pull-right" ng-show="inOrder(item) == true"><i class="icon ion-checkmark-circled"></i></span>
          </div>
          <div class="padding" ng-show="vm.order.length === 0">
            <h2>Nothing yet!</h2>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-modal-view>