<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button" ng-click="paymentDetailsModal.hide()">Close</button>
    </div>
    <h1 class="title">Payment Details</h1>
    <!--<div class="buttons">
      <button class="button" ng-click="save()">Save</button>
    </div>-->
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <div ng-if="vm.payment.cash.amount > 0">
        <h4 class="gray">CASH</h4>
        <span>{{vm.payment.cash.amount | currency:"Php "}}</span>
      </div>
      <div ng-if="vm.payment.terms.amount > 0">
        <h4 class="gray">TERMS</h4>
        <div>
          <span>{{vm.payment.terms.amount | currency:"Php "}}</span>
        </div>
        <div>
          <span>{{vm.payment.terms.days}} days</span>
        </div>
      </div>
      
      <h4 class="gray">SUBTOTAL</h4>
      <span class="bold">{{vm.order.subtotal | currency:"Php "}}</span>

      <div ng-if="vm.order.discount.amount > 0">
        <h4 class="gray">DISCOUNT</h4>
        <span>{{vm.order.discount.amount | currency:"Php "}}</span>
      </div>
      
      <h4 class="gray">TAX</h4>
      <span>Php 0.00</span>
      <h4 class="gray">TOTAL</h4>
      <span class="bold">{{vm.order.total | currency:"Php " }}</span>
    </div>
  </ion-content>
</ion-modal-view>